#resources-title {
  margin-bottom: 1rem;
}

#item-list {
  margin: 2rem;
}

#image {
  max-height: 80px;
  max-width: 160px;
  margin-left: 3.5rem;
  width: 100%;
}

.slick-arrow.slick-prev:before,
.slick-arrow.slick-prev:before {
  color: rgb(229, 216, 192);
}

.slick-arrow.slick-next:before,
.slick-arrow.slick-next:before {
  color: rgb(229, 216, 192);
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  box-sizing: initial;
  padding: 25px 0px;
  margin: 0 -10px;
}
