@tailwind base;
@tailwind components;
@tailwind utilities;

/* Our Proud Partners -> React Elastic Carousel: */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .container {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1536px) {
  .container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
